<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d [%p] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.example" level="Info" additivity="false">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Logger name="org.example" level="Debug" additivity="false">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>